html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/* COLORS  -----------------------------------------------------------*/

:root {
  --yellow: #ffee2e;
  --black-blue: #333b41;
  --green: #4b9200;
  --white-frosted-glass: #fdfdff;
  --gray-light: #f1f3f2;
  --gray: #767474;
  --gray-smoky: #ababab;
  --red: #d31414;

  --orange-dark: #f9804b;
  --orange-lighter: #fe9013;

  --gradient-orange: linear-gradient(
    113.96deg,
    var(--orange-dark) 1.49%,
    var(--orange-lighter) 101.44%
  );
  /* GRADIENTS ----------------------------------------------------------- */

  --gradient-light-orange: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );

  /* HEIGHTS  -----------------------------------------------------------*/

  --section-height: 116.1rem;
  --normal-font: 1.6rem;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  color: var(--black-blue);
}
/* sections width, margins */
.watch-your-fav-anim__content,
.header__content,
.the-backstage__content,
.animals_cards,
.pick-and-feed__frame,
.testimonials {
  width: var(--section-height);
}

.margin-top-big {
  margin-top: 5rem;
}

/* buttons */

.big-button {
  min-width: 30rem;
  min-height: 5.4rem;
  text-transform: uppercase;
  display: block;
  border-radius: 2.5rem;
  background-image: var(--gradient-orange);
  border: none;
  font-weight: 500;
  color: white;
}

.btn-rectangular {
  min-width: 30rem;
  min-height: 5.4rem;
  text-transform: uppercase;
  display: block;
  border-radius: 5px;
  background-image: var(--gradient-orange);
  border: none;
  font-weight: 500;
  color: white;
}

.big-button:hover,
.btn-square:hover,
.btn-rectangular:hover {
  background-color: var(--green);
  background-image: none;
}

.btn-square {
  background-image: var(--gradient-orange);
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* frames */

.animal-card:before,
.pick-and-feed__container-image:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: var(--gradient-orange);
}

.testimonial:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background: var(--gradient-light-orange);
}

/* HEADER */
.header {
  background-color: black;
  height: 8rem;
  position: relative;
}

.header__content {
  color: white;
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-between;
  align-items: center;
  font-weight: medium;
}

.header__content--left {
  display: flex;
  align-items: center;
}
.header__content--left > a {
  color: white;
}

.header__logo {
  display: inline-block;
  max-width: 8.2rem;
  text-align: center;
  position: relative;
}

.header__title {
  font-size: 1.9rem;
  line-height: 120%;
  border: 1px solid white;
  border-radius: 2px;
  padding: 2px;
}

.header__logo-img {
  position: absolute;
  top: 50%;
  left: 12%;
}

.header__navigation {
  display: flex;
  min-width: 30vw;
  justify-content: space-around;
}

.header__navigation-link,
.header__attribution {
  font-size: var(--normal-font);
  list-style: none;
}

.header__navigation-link > *:link,
.header__attribution {
  text-decoration: none;
  color: white;
}

.header__navigation-link--active > *:link,
.header__navigation-link > *:active,
.header__navigation-link > *:hover {
  background-image: var(--gradient-orange);
  background-clip: text;
  color: transparent;
}

/* WATCH YOUR FAVOURITE ANIMAL PART */

.watch-your-fav-anim {
  width: 100vw;
  background-image: url(../../assets/images/Giant\ Panda.png);
  min-height: 78rem;
  background-size: cover;
  position: relative;
}

.watch-your-fav-anim__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: right;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}

.watch-your-fav-anim__heading-wrapper {
  height: 46.5rem;
  max-width: 55rem;
}

.watch-your-fav-anim__heading-wrapper:after {
  background-image: var(--gradient-orange);
  content: "";
  width: 46.5rem;
  height: 46.5rem;
  border-radius: 50%;
  bottom: 25%;
  right: 10%;
  position: absolute;
  z-index: -1;
}

.watch-your-fav-anim__heading {
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  line-height: 75%;
  text-align: center;
  font-size: 10.6rem;
}

.watch-your-fav-anim__heading--decoration {
  color: var(--yellow);
}

/* THE BACKSTAGE */

.the-backstage {
  background-image: url(../../assets/images/flower_foto1.png);
  background-repeat: no-repeat;
  background-position: right;
  padding: 10rem 0;
}

.the-backstage__content {
  margin: 0 auto;
  display: flex;
  column-gap: 8.2rem;
  font-weight: lighter;
}

.the-backstage__heading {
  font-size: 4.8rem;
  line-height: 120%;
  padding-bottom: 2rem;
  font-weight: lighter;
}

.the-backstage__copy {
  font-size: 1.6rem;
  line-height: 130%;
}

.the-backstage__subheading {
  font-size: 2.4rem;
  padding: 4rem 0;
  font-weight: lighter;
}

/* ANIMALS CARDS */
.animals-cards__background {
  background: url(../../assets/images/palm_foto.png) left bottom no-repeat,
    url(../../assets/images/strelitzia\ 1.png) right bottom no-repeat;
}
.animals_cards {
  margin: 0 auto;
  padding: 10rem 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2rem;
}

.animal-card {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  background-color: white;
  background-clip: padding-box;
  border: solid 2px transparent;
  border-radius: 5px;
}

.animal-cards__controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 115%;
  display: flex;
  justify-content: space-between;
}

.animal-card__image {
  overflow: hidden;
}

.animal-card__info {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.animal-card__title {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.animal-card__origin {
  font-size: 1.6rem;
  font-weight: lighter;
}

.animal-cards__button {
  margin: 5rem auto 0 auto;
}

.animal-card__image-wrapper {
  width: inherit;
  height: inherit;
  overflow: hidden;
}

.animal-card__image:hover {
  transform: scale(1.1);
  overflow: hidden;
  animation: transform 1s ease;
}

/* PICK AND FEED */
.pick-and-feed {
  background-image: var(--gradient-light-orange);
  padding: 10rem 0;
}

.pick-and-feed__frame {
  box-sizing: border-box;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  margin: 0rem auto;
  padding: 5rem 10rem;
  text-align: center;
}

.pick-and-feed__title {
  color: var(--orange-lighter);
  font-size: 4.8rem;
  font-weight: normal;
  padding-bottom: 3.5rem;
}
.pick-and-feed__subtitle {
  text-align: left;
  font-size: 2.4rem;
  font-weight: normal;
  padding-bottom: 3.5rem;
}

.pick-and-feed__copy {
  text-align: left;
  font-size: 1.6rem;
  font-weight: lighter;
}

.pick-and-feed__copy--bold {
  font-weight: bolder;
  display: block;
  padding-bottom: 1rem;
}

.pick-and-feed__copy--link:link {
  color: var(--black-blue);
  text-decoration: underline;
  text-decoration-color: var(--orange-lighter);
  text-underline-offset: 0.5rem;
}

.pick-and-feed__heading {
  font-size: 3.6rem;
  padding: 5rem;
}

.pick-and-feed__widget {
  display: flex;
  justify-content: space-evenly;
}

.pick-and-feed__container {
  max-width: 16.8rem;
}

.pick-and-feed__container-image {
  background-color: white;
  border-radius: 5px;
  width: 16.8rem;
  height: 16.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.pick-and-feed__container-text {
  text-align: left;
  font-size: 1.6rem;
  padding: 4rem 0;
}
.pick-and-feed__button {
  margin: 1rem auto;
}

.testimonials-background {
  background: url(../../assets/images/leav_foto.png) bottom right no-repeat;
}

.testimonials {
  margin: 15rem auto;
  text-align: center;
}

.testiomonials__heading {
  font-size: 3.6rem;
}

.testimonials-wrapper {
  display: flex;
  column-gap: 2rem;
}

.testimonial {
  box-sizing: border-box;
  position: relative;
  background-color: var(--gray-light);
  width: 26.8rem;
  max-height: 39rem;
  overflow: hidden;
  padding: 2rem;
}
