/* frames */

.animal-card:before,
.pick-and-feed__container-image:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: var(--gradient-orange);
}

.testimonial:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  margin: -2px;
  border-radius: inherit;
  background: var(--gradient-light-orange);
}

/*backgrounds */

.white-transparent-background-section {
  background-color: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(4px);
  border-radius: 20px;
  padding: 6rem 9.2rem;
}

/*inputs */

.input-field,
.input-field:valid {
  -moz-appearance: textfield;
  background-color: transparent;
  box-shadow: none;
  border: 1px var(--orange-dark) solid;
  border-radius: 2px;
  min-height: 4.2rem;
  font-size: var(--normal-font);
  outline: none;
}

.input-field:invalid {
  border: 1px var(--red) solid;
}

.input-field:hover,
.input-field:focus {
  border-color: var(--green);
}

.input-field--alternative {
  border: 1px var(--gray) solid;
  min-height: 5.4rem;
}

/* RADIO BTNS */

/* Customize the label (the container) */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: calc(var(--normal-font) * 1.5);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* not yet checked */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--normal-font);
  width: var(--normal-font);
  border-radius: 50%;
  background-color: transparent;
  border: solid 1px var(--orange-dark);
  box-sizing: border-box;
}

/* hover */
.container:hover input ~ .checkmark {
  background-color: var(--green);
  border: none;
}

/* checked */
.container input:checked ~ .checkmark {
  background-color: transparent;
  border: solid 1px var(--orange-dark);
  box-sizing: border-box;
}

/* Create the indicator*/
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* indicator (dot/circle) */
.container input:checked ~ .checkmark:after {
  top: 2px;
  left: 2px;
  width: calc(var(--normal-font) - 6px);
  height: calc(var(--normal-font) - 6px);
  border-radius: 50%;
  background: var(--orange-dark);
  display: flex;
}
