/* global */

/* sections width, margins */

.subsection {
  max-width: var(--section-height);
}

.center-block-content {
  margin: 0 auto;
}

.center-translate {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.margin-after-middle {
  margin-bottom: 2rem;
}

.margin-after-big {
  margin-bottom: 5rem !important;
}

.margin-after-bigger {
  margin-bottom: 8rem !important;
}

.padding-section-big {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

/* ----------- text align ----------------*/

/* CENTERING */

.testiomonials__heading,
.donate,
.pick-and-feed__frame,
.watch-your-fav-anim__heading {
  text-align: center;
}

/* LEFT POSITION */

.donate__header-big,
.donate__copy,
.donate__header-smaller,
.donate__copy--big,
.pick-and-feed__subtitle,
.pick-and-feed__copy,
.testimonial__header,
.form__descr {
  text-align: left;
}

/* ------------------------- HEADER */
.header {
  height: 8rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.header__content {
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-between;
  align-items: center;
}

.header__content--left {
  display: flex;
  align-items: center;
}

.header__logo {
  display: inline-block;
  max-width: 8.2rem;
  text-align: center;
  position: relative;
}

.header__logo-img {
  position: absolute;
  top: 50%;
  left: 12%;
}

.header__navigation {
  display: flex;
  min-width: 30vw;
  justify-content: space-around;
}

/* ----------------------------------------------------- FOOTER */

.footer-content {
  margin: 0 auto;
  padding: 5rem 0;
}
.footer-content__upper {
  display: flex;
  justify-content: space-between;
}

.footer__navigation {
  display: flex;
  min-width: 30rem;
  justify-content: space-around;
}

.subscribe-text {
  padding-bottom: 1rem;
}

.input-footer {
  padding-left: 1rem;
}

.footer-content__middle {
  padding: 5rem 0;
}

.footer-content__bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  column-gap: 100px;
}

.bottom__socials {
  display: flex;
  flex-direction: column;
}

.one-social {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding: 0.4rem;
}

/* ----------------------------------------------------- SECTIONS */

/* 1. MAIN ----------------------------------------------- */

/* 1.1 WATCH YOUR FAVOURITE ANIMAL PART */

.watch-your-fav-anim {
  width: 100vw;
  position: relative;
  margin-top: 3rem;
}

.watch-your-fav-anim__content {
  position: relative;
  text-align: right;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  padding: 10rem 0;
}

.watch-your-fav-anim__heading-wrapper {
  display: flex;
  max-width: 55rem;
  position: relative;
  flex-direction: column;
  align-items: center;
}

/* 1.2 BACKSTAGE PART */

.the-backstage__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5%;
}

/* 1.3 ANIMALS CARDS */

.animal_cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 1fr 1fr;
  grid-column-gap: 2%;
  grid-row-gap: 2%;
  position: relative;
}

.animal-card__image-wrapper {
  width: 100%;
}

.animal-card__image-wrapper > img {
  width: 100%;
}

.animal-card {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  background-clip: padding-box;
  width: 100%;
}

.animal-cards__controls {
  position: absolute;
  width: 115%;
  display: flex;
  justify-content: space-between;
}

.animal-card__info {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  position: relative;
}

/* 1.4 PICK AND FEED */
.pick-and-feed__frame {
  box-sizing: border-box;
}

.pick-and-feed__widget {
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin: 0 auto;
  padding: 0 2vw;
  max-width: 80rem;
}

.pick-and-feed__widget > .pick-and-feed__card-arrow {
  min-height: 16.8rem;
  display: grid;
  align-items: center;
  object-fit: scale-down;
  max-width: 100%;
}

.pick-and-feed__container-image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 16.8rem;
  height: 16.8rem;
}

.pick-and-feed__container-text {
  text-align: left;
  display: block;
  width: 16.8rem;
}

/* 1.5 TESTIMONIALS */

.testimonials-wrapper {
  max-width: 100%;
  display: grid;
  grid-auto-flow: column;
  gap: 2.4rem;
  overflow-y: auto;
  overscroll-behavior-x: cover;
  scroll-snap-type: x mandatory;
  padding-bottom: var(--bigger-font);
}

.testimonial {
  box-sizing: border-box;
  position: relative;
  min-width: calc(16.8em - 0.2rem);
  max-height: 40rem;
  margin: 0.2rem;
  padding: 1.5rem;
}

.testimonial > p {
  display: block;
  overflow: scroll;
  max-height: 85%;
}

.testimonial__header-image-wrapper {
  width: 3.7rem;
  height: 3.7rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center 25%;
  display: block;
  float: left;
  margin-right: 1rem;
}

.testimonial__header {
  margin-bottom: 1rem;
}

/* 2. DONATE -------------------------------------------------- */
.donate__panda-header {
  width: 100vw;
  min-height: 47rem;
  position: relative;
}

.donate {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.donate__form-another-am {
  min-width: 26.8rem;
  padding: 0 1rem;
  display: block;
  margin: 0 auto;
}

.donate__form-currency {
  position: absolute;
  right: 1rem;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.donate__calculator-panda {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5rem;
  padding: 5rem 0;
}

.donate__form-radio-btns {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  gap: 5rem;
}

.input-wrapper-currency-position {
  position: relative;
  display: inline-block;
  text-align: center;
}

.donate__btn {
  margin: 3rem auto;
}
