/* WATCH YOUR FAVOURITE ANIMAL PART */

.watch-your-fav-anim {
  width: 100vw;
  background-image: url(../../assets/images/Giant\ Panda.png);
  min-height: 78rem;
  background-size: cover;
  position: relative;
}

.watch-your-fav-anim__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: right;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
}

.watch-your-fav-anim__heading-wrapper {
  height: 46.5rem;
  max-width: 55rem;
}

.watch-your-fav-anim__heading-wrapper:after {
  background-image: var(--gradient-orange);
  content: "";
  width: 46.5rem;
  height: 46.5rem;
  border-radius: 50%;
  bottom: 25%;
  right: 10%;
  position: absolute;
  z-index: -1;
}

.watch-your-fav-anim__heading {
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  line-height: 75%;
  text-align: center;
  font-size: 10.6rem;
}

.watch-your-fav-anim__heading--decoration {
  color: var(--yellow);
}

/* THE BACKSTAGE */

.the-backstage {
  background-image: url(../../assets/images/flower_foto1.png);
  background-repeat: no-repeat;
  background-position: right;
  padding: 10rem 0;
}

.the-backstage__content {
  margin: 0 auto;
  display: flex;
  column-gap: 8.2rem;
  font-weight: lighter;
}

.the-backstage__heading {
  font-size: 4.8rem;
  line-height: 120%;
  padding-bottom: 2rem;
  font-weight: lighter;
}

.the-backstage__copy {
  font-size: 1.6rem;
  line-height: 130%;
}

.the-backstage__subheading {
  font-size: 2.4rem;
  padding: 4rem 0;
  font-weight: lighter;
}

/* ANIMALS CARDS */
.animals-cards__background {
  background: url(../../assets/images/palm_foto.png) left bottom no-repeat,
    url(../../assets/images/strelitzia\ 1.png) right bottom no-repeat;
}
.animals_cards {
  margin: 0 auto;
  padding: 10rem 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2rem;
}

.animal-card {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  background-color: white;
  background-clip: padding-box;
  border: solid 2px transparent;
  border-radius: 5px;
}

.animal-cards__controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 115%;
  display: flex;
  justify-content: space-between;
}

.animal-card__image {
  overflow: hidden;
}

.animal-card__info {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.animal-card__title {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.animal-card__origin {
  font-size: 1.6rem;
  font-weight: lighter;
}

.animal-cards__button {
  margin: 5rem auto 0 auto;
}

.animal-card__image-wrapper {
  width: inherit;
  height: inherit;
  overflow: hidden;
}

.animal-card__image:hover {
  transform: scale(1.1);
  overflow: hidden;
  animation: transform 1s ease;
}

/* PICK AND FEED */
.pick-and-feed {
  background-image: var(--gradient-light-orange);
  padding: 10rem 0;
}

.pick-and-feed__frame {
  box-sizing: border-box;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  margin: 0rem auto;
  padding: 5rem 10rem;
  text-align: center;
}

.pick-and-feed__title {
  color: var(--orange-lighter);
  font-size: 4.8rem;
  font-weight: normal;
  padding-bottom: 3.5rem;
}
.pick-and-feed__subtitle {
  text-align: left;
  font-size: 2.4rem;
  font-weight: normal;
  padding-bottom: 3.5rem;
}

.pick-and-feed__copy {
  text-align: left;
  font-size: 1.6rem;
  font-weight: lighter;
}

.pick-and-feed__copy--bold {
  font-weight: bolder;
  display: block;
  padding-bottom: 1rem;
}

.pick-and-feed__copy--link:link {
  color: var(--black-blue);
  text-decoration: underline;
  text-decoration-color: var(--orange-lighter);
  text-underline-offset: 0.5rem;
}

.pick-and-feed__heading {
  font-size: 3.6rem;
  padding: 5rem;
}

.pick-and-feed__widget {
  display: flex;
  justify-content: space-evenly;
}

.pick-and-feed__container {
  max-width: 16.8rem;
}

.pick-and-feed__container-image {
  background-color: white;
  border-radius: 5px;
  width: 16.8rem;
  height: 16.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.pick-and-feed__container-text {
  text-align: left;
  font-size: 1.6rem;
  padding: 4rem 0;
}
.pick-and-feed__button {
  margin: 1rem auto;
}

/* TESTIMONIALS */

.testimonials-background {
  background: url(../../assets/images/leav_foto.png) bottom right no-repeat;
}

.testimonials {
  margin: 15rem auto;
  text-align: center;
}

.testiomonials__heading {
  font-size: 3.6rem;
}

.testimonials-wrapper {
  display: flex;
  column-gap: 2rem;
}

.testimonial {
  box-sizing: border-box;
  position: relative;
  background-color: var(--gray-light);
  width: 26.8rem;
  max-height: 39rem;
  overflow: hidden;
  padding: 2rem;
}

/* ----------------------------------------------------- SECTIONS */

/* 1. MAIN ----------------------------------------------- */

/* 2. DONATE -------------------------------------------------- */

/* 2.1 header */
.donate__panda-header {
  background-image: url(../../assets/images/Giant\ Panda.png);
  background-size: cover;
  background-size: 100%;
  background-position-y: center;
}

/* 2.2 donate content */
.donate {
  background-image: var(--gradient-light-orange);
  text-align: center;
}

.donate__header-big {
  text-align: left;
}

.donate__copy {
  font-weight: 500;
  line-height: 140%;
  text-align: left;
  color: white;
}

.donate__header-smaller {
  text-align: left;
}

.donate__calculator {
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
}

.donate__copy--big {
  text-align: left;
}

/* -> panda icon part */

.calculator-panda__number-number {
  display: block;
  font-size: 7.2rem;
  line-height: 80%;
  font-weight: 500;
  padding-bottom: 1.6rem;
}

.calculator-panda__number-per {
  line-height: 140%;
}

.calculator-panda__multiplication-left {
  position: absolute;
}
.calculator-panda__multiplication-right {
  position: relative;
  left: 0;
  transform: scaleX(-1);
}

.form__descr {
  text-align: left;
}

.donate__form-currency {
  font-size: var(--bigger-font);
  font-weight: bold;
}

.donate__form-another-am + p {
  color: var(--gray);
}

.donate__form-another-am:focus + p {
  color: var(--green);
}

.donate__form-another-am:focus::placeholder {
  color: var(--green);
  opacity: 1;
}

.donate__form-another-am:invalid + p {
  color: var(--red);
}

.donate__form-another-am:invalid::placeholder {
  color: var(--red);
  opacity: 1;
}

/* -> pseudo progress bar */

.donate__progress-bg {
  background-color: var(--black-blue);
  width: 100%;
  height: 2.7rem;
  border-radius: 2px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.donate__form-line {
  width: calc(90% - 2rem);
  background-color: var(--gray-smoky);
  height: 2px;
  display: block;
  position: absolute;
  z-index: 2;
}

.donate__form-dots {
  z-index: 3;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.donate__form-dots p {
  font-size: var(--bigger-font);
  position: relative;
  top: -4rem;
}

.donate__form-dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  content: " ";
  display: block;
  position: relative;
  background-color: var(--yellow);
}

.dot-clickable {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.donate__form-dot-clickable-area {
  width: 5rem;
  height: 5rem;
  content: " ";
  display: flex;
  cursor: pointer;
  position: relative;
  top: -4rem;
  align-items: center;
  justify-content: center;
}

.donate__form-dot--chosen .donate__form-label {
  color: var(--orange-dark);
}

/* styles for chosen dot */
.donate__form-dot--chosen .donate__form-dot-clickable-area::after {
  position: relative;
  display: block;
  content: " ";
  width: 2.3rem;
  height: 2.3rem;
  position: absolute;
  border: 1px solid var(--orange-dark);
  border-radius: 50%;
}

.donate__form-dot--chosen .donate__form-dot-clickable-area::before {
  position: relative;
  display: block;
  content: " ";
  width: 4rem;
  height: 4rem;
  position: absolute;
  border: 1px solid var(--orange-dark);
  border-radius: 50%;
}

.dot-clickable:not(.donate__form-dot--chosen)
  .donate__form-dot-clickable-area:hover
  .donate__form-dot {
  background-color: var(--green);
}
