html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/* COLORS  -----------------------------------------------------------*/

:root {
  --yellow: #ffee2e;
  --black-blue: #333b41;
  --green: #4b9200;
  --white-frosted-glass: #fdfdff;
  --gray-light: #f1f3f2;
  --gray: #767474;
  --gray-smoky: #ababab;
  --red: #d31414;

  --orange-dark: #f9804b;
  --orange-lighter: #fe9013;

  --gradient-orange: linear-gradient(
    113.96deg,
    var(--orange-dark) 1.49%,
    var(--orange-lighter) 101.44%
  );
  /* GRADIENTS ----------------------------------------------------------- */

  --gradient-light-orange: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );

  /* HEIGHTS  -----------------------------------------------------------*/

  --section-height: 116.1rem;
  --normal-font: 1.6rem;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  color: var(--black-blue);
}
/* sections width, margins */
.watch-your-fav-anim__content,
.header__content,
.the-backstage__content,
.animals_cards,
.pick-and-feed__frame,
.testimonials {
  width: var(--section-height);
}

.margin-top-big {
  margin-top: 5rem;
}

/* buttons */

.big-button {
  min-width: 30rem;
  min-height: 5.4rem;
  text-transform: uppercase;
  display: block;
  border-radius: 2.5rem;
  background-image: var(--gradient-orange);
  border: none;
  font-weight: 500;
  color: white;
}

.btn-rectangular {
  min-width: 30rem;
  min-height: 5.4rem;
  text-transform: uppercase;
  display: block;
  border-radius: 5px;
  background-image: var(--gradient-orange);
  border: none;
  font-weight: 500;
  color: white;
}

.big-button:hover,
.btn-square:hover,
.btn-rectangular:hover {
  background-color: var(--green);
  background-image: none;
}

.btn-square {
  background-image: var(--gradient-orange);
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* frames */

.animal-card:before,
.pick-and-feed__container-image:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -2px;
  border-radius: inherit;
  background: var(--gradient-orange);
}

.testimonial:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background: var(--gradient-light-orange);
}

/* HEADER */
.header {
  background-color: black;
  height: 8rem;
  position: relative;
}

.header__content {
  color: white;
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-between;
  align-items: center;
  font-weight: medium;
}

.header__content--left {
  display: flex;
  align-items: center;
}
.header__content--left > a {
  color: white;
}

.header__logo {
  display: inline-block;
  max-width: 8.2rem;
  text-align: center;
  position: relative;
}

.header__title {
  font-size: 1.9rem;
  line-height: 120%;
  border: 1px solid white;
  border-radius: 2px;
  padding: 2px;
}

.header__logo-img {
  position: absolute;
  top: 50%;
  left: 12%;
}

.header__navigation {
  display: flex;
  min-width: 30vw;
  justify-content: space-around;
}

.header__navigation-link,
.header__attribution {
  font-size: var(--normal-font);
  list-style: none;
}

.header__navigation-link > *:link,
.header__attribution {
  text-decoration: none;
  color: white;
}

.header__navigation-link--active > *:link,
.header__navigation-link > *:active,
.header__navigation-link > *:hover,
.header__attribution:hover {
  background-image: var(--gradient-orange);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* DONATE PANDA HEADER */

.donate__panda-header {
  width: 100vw;
  background-image: url(../../assets/images/Giant\ Panda.png);
  min-height: 39rem;
  background-size: cover;
  position: relative;
  background-size: 100%;
  background-position-y: center;
}

/*footer */

.footer {
  background-color: black;
}
